<div class="opcion">
  <div class="opcion1">
    <div class="imagen">
      <img src="../../assets/image-top-laptops.jpg" />
    </div>
    <div class="texto">
      <p class="titulo">{{ titulo1 }}</p>
      <p class="text">{{ texto1 }}</p>
      <p class="subtext">
        {{ subtexto1 }}
      </p>
    </div>
  </div>
  <div class="opcion2">
    <div class="imagen">
      <img src="../../assets/image-retro-pcs.jpg" />
    </div>
    <div class="texto">
      <p class="titulo">{{ titulo2 }}</p>
      <p class="text">{{ texto2 }}</p>
      <p class="subtext">
        {{ subtexto2 }}
      </p>
    </div>
  </div>
  <div class="opcion3">
    <div class="imagen">
      <img src="../../assets/image-gaming-growth.jpg" />
    </div>
    <div class="texto">
      <p class="titulo">{{ titulo3 }}</p>
      <p class="text">{{ texto2 }}</p>
      <p class="subtext">{{ subtexto3 }}</p>
    </div>
  </div>
</div>
